#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

.logo {
  width: 100px;
  display: block;
}

.nav-list li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  font-size: 1.2rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
}

.articles-main {
  max-width: 800px;
  margin: 0 auto;
}
.art-card {
  display: grid;
  grid-template-columns: 150px 1fr; /* image column fixed, info column fills rest */
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(243, 243, 243);
  border-radius: 0.7rem;
}

.art-image img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.art-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.art-released {
  text-align: right;
  width: 100%;
}

.art-topic {
  text-align: left;
}

.art-title {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.art-author {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: rgb(64, 100, 165);
}

.art-comment-count {
  text-align: right;
  width: 100%;
  font-size: 0.8rem;
}

.art-votes {
  text-align: right;
  width: 100%;
  font-size: 0.8rem;
}
