#root {
  max-width: 900px;
  align-items: center;
  margin: auto;
  padding: 2rem;
  text-align: center;
  display: inline-block;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

.logo {
  width: 100px;
  display: block;
}

.nav-list li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.art-row {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
